@import './layout.scss';
@import './px2rem.scss';
$designWidth : 640; //写scss之前，必须要先定义designWidth。

@mixin btn ($size:14px,$color:#fff,$bgcolor:#f04752,$padding:5px,$radius:5px) {
    padding: $padding;
    background-color: $bgcolor;
    border-radius: $radius;
    border: 1px solid $bgcolor;
    font-size: $size;
    color: $color;
    text-align: center;
    line-height: 1;
    display: inline-block;
}

@mixin list ($direction: column) {
    @include flex($direction);
}

@mixin panel($bgcolor: #fff,$padding: 0,$margin:px2rem(20) 0,$height:px2rem(112),$text-padding: 0 px2rem(64),$color:#333,$fontSize: px2rem(32)) {
    background-color: $bgcolor;
    padding: $padding;
    margin: $margin;
    >h4{
        height: $height;
        line-height: $height;
        padding: $padding;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        color: $color;
        font-size: $fontSize;
        font-weight: bold;
    }
}